:root {
    --fonte-marvel: 'Marvel', sans-serif;
    --fonte-nunito: 'Nunito', sans-serif;
    --fonte-oswald: 'Oswald', sans-serif;
    --white: #F5F5F7;
    --black: #1D1D1F;
      --black-lighter-1: #363639;
      --black-lighter-2: #7F7F86;
      --black-lighter-3: #B2B2B6;
      --black-lighter-4: #CCCCCF;
  }